.job-post {
    //max-width: 1246px;
    //margin-right: auto;
    //margin-left: auto;
    //padding-right: 24px;
    //padding-left: 24px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
  padding-bottom: 84px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  .image-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .image-wrapper.card-job-post {
    min-height: 143px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    .image.card-job-post {
      width: 100%;
      height: 100%;
      min-height: 100%;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }





  .card-job-post-content {
    max-width: 699px;
    margin-top: -46px;
    margin-right: 25px;
    margin-left: 25px;
    .card-job-post-content-top {
      text-align: center;
      .card-job-post-title-wrapper {
        margin-bottom: 40px;
        .image-wrapper.card-job-post-logo {
          width: 96px;
          min-height: 96px;
          min-width: 96px;
          margin-right: auto;
          margin-bottom: 23px;
          margin-left: auto;
          border-style: solid;
          border-width: 4px;
          border-color: #fff;
          border-radius: 20px;
          .image.card-job-post-logo {
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
          }
        }
        .title.h2-size.card-job-post {
          margin-bottom: 0px;
        }
      }
      .card-job-post-categories-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        .card-job-post-category-wrapper {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          .card-job-post-category-title-wrapper {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 14px;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            font-size: 14px;
            line-height: 1.143em;
            .card-job-post-category-title-icon {
              max-width: 14px;
              margin-right: 8px;
            }
          }
          .card-job-post-category-text {
            color: #171728;
            line-height: 1.25em;
            font-weight: 500;
          }
        }
      }
    }
    .divider.card-job-post-content-divider {
      margin-top: 56px;
      margin-bottom: 58px;
    }

    .card-job-post-content-bottom {
      .job-description-title-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 16px;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        .title.h3-size.job-description {
          margin-bottom: 0px;
        }
        .job-description-date-wrapper {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          line-height: 1.25em;
          font-weight: 500;
          .job-description-date-text {
            color: #171728;
          }
        }
      }

      .title.h3-size.job-rich-text {
        margin-top: 40px;
      }
      .button-primary.apply-button {
        margin-top: 20px;
      }
    }
  }

}
