.navbar_categories {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid var(--gray-border);
  border-radius: 14px;
  padding: 48px;
  margin-left: -180px;
  margin-top: 26px;
  //margin-top: 12px;
  background-color: var(--white);
  width: 560px;


  &_location {
    display: flex;
    flex-direction: column;
    // &:nth-child(1) {
    //   margin-right: 120px;
    // }
    //&:nth-child(2) {
    //   margin-right: 120px;
    // }

    &_icon {
      width: 48px;
      max-height: 48px;
      min-height: 48px;
      min-width: 48px;
      margin-bottom: 20px;
      border-radius: 12px;
    }

    &_title {
      color: #171728;
      font-size: 18px;
      font-weight: 500;
      margin-top: 16px;
    }

    &_field {
      color: var(--light-blue);
      text-decoration: none;
      white-space: nowrap;
      font-size: 14px;
      margin-top: 12px;
    }

    &_field:hover {
      color: var(--blue);
      margin-top: 12px;
    }
  }

}

