.search {

  &_content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 12px;
    border: 1px solid var(--border-color);
    border-radius: 1000px;
    width: 500px;

    &_input {
      width: 100%;

      .form-control.is-valid, .was-validated .form-control:valid {
        border-color: var(--white);
        padding-right: calc(1.5em + 0.75rem);
        background-image: url('');
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
      }

      .form-control.is-valid:focus,
      .was-validated .form-control:valid:focus {
        border-color: var(--white);
        box-shadow: 0 0 0 0.25rem var(--white);
      }

    }

    &_button{

      .search_btn {
        width: 124px;
        height: 48px;
      }


      .button.btn.btn-primary {
        padding: 0px;
      }

    }
  }

  &_content:hover {
    border: 1px solid var(--blue);
  }
}
