button.btn.btn-primary {
  border-radius: 100px;
  background-color: var(--blue);
  //padding: 16px 24px;
  font-size: 16px;
  border: none;
  color: var(--white);
  font-weight: 600;
  text-align: center;
  transform-style: preserve-3d;
  cursor: pointer;
  transition:
    transform 300ms ease,
    background-color 300ms ease,
    -webkit-transform 300ms ease;
}

button.btn.btn-primary:hover {
  background-color: var(--dark-blue);
  transform: translate3d(0px, 0px, 0.01px);
  color: var(--white);
}

button.btn.outline-primary {
  border-radius: 100px;
  background-color: var(--white);
  padding: 16px 24px;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  border-color: var(--border-color);
  color: var(--btn-text-dark);
  font-weight: 600;
  text-align: center;
  transform-style: preserve-3d;
  cursor: pointer;
  transition:
    transform 300ms ease,
    background-color 300ms ease,
    color 300ms ease,
    border-color 300ms ease,
    -webkit-transform 300ms ease;
}

button.btn.outline-primary:hover {
  border-color: var(--blue);
  background-color: var(--blue);
  -webkit-transform: translate3d(0px, -2px, 0.01px);
  transform: translate3d(0px, 0px, 0.01px);
  color: var(--white);
}
